<html>
{% block headlinks %}
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <meta name="viewport"    content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author"      content="8VM62">

  <link rel="shortcut icon" href="{% static 'images/gt_favicon.png' %} assets/images/gt_favicon.png">

  <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.min.css' %}">

  <!-- Custom styles for our template -->
  <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}" media="screen" >
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="{% static 'js/html5shiv.js' %}"></script>
  <script src="{% static 'js/respond.min.js' %}"></script>
  <![endif]-->
  {% block title %}<title>Record Studio</title> {% endblock %}

</head>
{% endblock %}


<body>
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top headroom" >
    <div class="container">
      <div class="navbar-header">
        <!-- Button for smallest screens -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="/"><img src="{% static 'images/logo.png' %}" alt="Record Studio"></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">
          {% block navbar-active %}
          {% endblock %}
          {% if user.is_authenticated %}
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.username }}
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/accounts/my_profile">Профиль</a></li>
                <li><a href="/accounts/logout">Выход</a></li>
              </ul>
            </li>
            {% else %}
            {% block login-active %}
            <li><a href="/accounts/login">Вход / регистрация</a></li>
            {% endblock %}
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <!-- /.navbar -->
    {% block header %}
    {% endblock %}
    {% block intro %}
    {% endblock %}
    {% block login-container %}
    {% endblock %}
    {% block about-container %}
    {% endblock %}

    <footer id="footer" class="top-space">

      <div class="footer1">
        <div class="container">
          <div class="row">

            <div class="col-md-3 widget">
              <h3 class="widget-title">Contact</h3>
              <div class="widget-body">
                <p>+234 23 9873237<br>
                  <a href="mailto:#">record@.studio.com</a><br>
                  <br>
                  Tomsk, Usova Street 15B
                </p>
              </div>
            </div>

            <div class="col-md-3 widget">
              <h3 class="widget-title">Подпишись</h3>
              <div class="widget-body">
                <p class="follow-me-icons">
                  <a href="#!"><i class="fa fa-twitter fa-2"></i></a>
                  <a href="#!"><i class="fa fa-dribbble fa-2"></i></a>
                  <a href="#!"><i class="fa fa-github fa-2"></i></a>
                  <a href="#!"><i class="fa fa-facebook fa-2"></i></a>
                </p>
              </div>
            </div>

            <div class="col-md-6 widget">
              <h3 class="widget-title">Record Studio</h3>
              <div class="widget-body">
                <p>Мы подбираем качественное музыкальное сопровождение и при необходимости создаём
                  уникальный саунддизайн. Для записи используется парк высокотехнологичного оборудования.
                  По желанию клиента специалисты Record Studio выполнят профессиональный монтаж максимально оперативно,
                  либо во внеурочное время. Условия обговариваются индивидуально.</p>
                </div>
              </div>

            </div> <!-- /row of widgets -->
          </div>
        </div>

        <div class="footer2">
          <div class="container">
            <div class="row">

              <div class="col-md-6 widget">
                <div class="widget-body">
                  <p class="simplenav">
                    <a href="/">Главная</a> |
                    <a href="/about/">О студии</a> |
                    <b><a href="/accounts/login">Вход / регистрация</a></b>
                  </p>
                </div>
              </div>

              <div class="col-md-6 widget">
                <div class="widget-body">
                  <p class="text-justify">
                    Copyright &copy; 2016, Record Studio. Designed by <a href="https://vk.com/jaxy_b" rel="designer">Jaxy</a> &
                    <a href="https://vk.com/almabekgm" rel="designer">Hero</a>
                  </p>
                </div>
              </div>

            </div> <!-- /row of widgets -->
          </div>
        </div>

      </footer>



      <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
      <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
      <script src="{% static 'js/bootstrap-datepicker.ru.min.js' %}"></script>
      <script src="{% static 'js/headroom.min.js' %}"></script>
      <script src="{% static 'js/jQuery.headroom.min.js' %}"></script>
      <script src="{% static 'js/template.js' %}"></script>
      <script src="{% static 'js/validate.js' %}"></script>
      {% block custom_scripts %}
      {% endblock %}
    </body>
    </html>
