<!DOCTYPE html>
<h1>Создание брони</h1>
<form action='creating_booking' method='post'>
    {% csrf_token %}
<pre>
    <label for="start">Start</label>
    <input type="datetime-local" name="start" value="" id="start">
</pre>
<pre>
    <label for="duration">Duration</label>
    <input type="time"  name="duration" value="" id="duration">
</pre>
<pre>


    {% for foo in sounmanlist %}
         <label for="soundman">{{ foo.username }}</label>
            <input type="radio"  name="soundman" value="{{ foo }}" id="soundman">
    {% endfor %}
</pre>

  <pre>
      <input type="submit" value="creating_booking" />
</pre>

</form>