<!DOCTYPE html>


{% if schedules %}
<h1>Расписание звукорежиссера {{ soundman.username }} на {{ date }}</h1>



{% for schedule in today_schedule %}
    <b>День недели: {{ schedule.get_working_day_display }}</b>
    <br>
    start: {{ schedule.start_of_the_day.isoformat }}
    <br>
    end: {{ schedule.end_of_the_day.isoformat }}
    <br>
{% endfor %}
    {% else %}
    <h1>На сегодняшнюю дату не установлено расписания</h1>
{% endif %}
{% if active_bookings %}
<h2>Активные брони на сегодня</h2>
{% for act in active_bookings %}
    <b>Номер брони: </b> {{ act.id }}
    <br>
    Дата записи: {{ act.date }}
    <br>
    День недели: {{ act.date.isoweekday }}
    <br>
    Время начала записи: {{ act.start.isoformat }}
    <br>
    Время окончания записи: {{ act.end.isoformat }}
    <br>
    Состояние брони: {{ act.get_is_active_display }}
    <br>
{% endfor %}
    {% else %}
    <h2>Не имеется активных броней на сегодняшний день</h2>
{% endif %}
{% if bookings %}
<h1>Все брони к звукорежиссеру</h1>

{% for booking in bookings %}
    <b>Номер брони: </b> {{ booking.id }}
    <br>
    Дата записи: {{ booking.date }}
    <br>
    День недели: {{ booking.date.isoweekday }}
    <br>
    Время начала записи: {{ booking.start.isoformat }}
    <br>
    Время окончания записи: {{ booking.end.isoformat }}
    <br>
    Состояние брони: {{ booking.get_is_active_display }}
    <br>
    <br>
    <br>
{% endfor %}
    {% else %}
    <h5>Не имеется броней к данному звукорежиссеру</h5>
{% endif %}
{% if schedules %}
<form action='show' method='post'>
    {% csrf_token %}
<pre>
    <label for="start">Start</label>
    <input type="time" name="start" value="" id="start">
</pre>
<pre>
    <label for="end">End</label>
    <input type="time"  name="end" value="" id="end">
  <label for="date"></label>
    <input type="text" onloadstart="{{ date.isocalendar }}" name="date" value="{{ date.isoformat }}"  hidden="hidden" id="date">
</pre>
      <pre>
      <input type="submit" value="create_booking" />
</pre>

</form>
    {% else %}
    <h4>Вы не можете создать запись</h4>
{% endif %}
