{% extends "bookings/base.html" %}
</html>
<html>
<head>
  {% block title %}<title>RS | Восстановление пароля</title> {% endblock %}
</head>
<body>

  {% block navbar-active %}
  <li><a href="/">Главная</a></li>
  <li><a href="">О студии</a></li>
  <li><a href="">Бронь записи</a></li>
  <li class="active"><a class="btn" href="/accounts/login">Вход / регистрация</a></li>
  {% endblock %}
  {% block login-container %}
  <header id="head" class="secondary"></header>
  <!-- container -->
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/">Главная</a></li>
      <li><a href="/accounts/login">Авторизация</a></li>
      <li class="active">Восстановление пароля</li>
    </ol>
    <div class="row">
      <!-- Article main content -->
      <article class="col-xs-12 maincontent">
        <header class="page-header">
          <h1 class="page-title">Восстановление пароля</h1>
        </header>
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
          <div class="panel panel-default">
            <div class="panel-body">
              <h3 class="thin text-center">Введите email</h3>
              <p class="text-center text-muted larger-than">Введите email который вы указали при регистрации, и мы отправим вам инструкцию по восстановлению пароля</p>
              <hr>
              <form method="post" action="">
                {% csrf_token %}
                <div class="top-margin">
                  <label>Email адрес <span class="text-danger">*</span></label>
                  <input id="email" name="email" data-validate="required,email" type="text" class="form-control">
                </div>
                {% if NoUserFound %}
                <p style="color:red; margin:0;">{{ NoUserFound }}</p>
                {% endif %}
                <hr>
                <div class="row">
                  <div class="col-lg-12 text-right">
                    <button class="btn btn-action" value="login" type="submit">Отправить</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </article>
      <!-- /Article -->
    </div>
  </div>
  {% endblock %}
</body>
</html>
