<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="POST">
    {% csrf_token %}
    <p>First name</p>
    <input type="input" value="{{ user.first_name }}" name="first_name" /> <br>
    <p>Last name</p>
    <input type="input" value="{{ user.last_name }}" name="last_name" /> <br>
    <p>Email</p>
    <input type="input"  value="{{ user.email }}" name="email"> <br>
    <p>Old password</p>
    <input type="password" name="old_password" value=""/> <br>
    <p>New password</p>
    <input type="password" name="new_password1" value=""/> <br>
    <p>Enter it again</p>
    <input type="password" name="new_password2" value=""/> <br>
    <br>
    <input type="submit"/>

    {% if error %}
        {{ error }}
    {% else %}
        {{ success }}
    {% endif %}

</form>
</body>
</html> 
